/* General Styles */
html, body {
 
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;  /* Ensure full height */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  overflow-y: auto; /* Allow vertical scroll */
}

/* Ensure full height and no unwanted margin/padding at the top */
body, html {
  display: flex;
  flex-direction: column;
}

.about-us {
  width: 100%; /* Allow full width */
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
  margin-top: 0; /* Remove any top margin */
  padding-top: 0; /* Ensure no padding pushing the content down */
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #111;
}

/* Topic Styles */
.about-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent content overflow */
}

.about-topic .text {
  width: 50%;
  padding-right: 20px;
}

.about-topic .text h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.about-topic .text p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}

.about-topic .image {
  width: 40%;
  text-align: center;
}

.about-topic .image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .about-topic {
    flex-direction: column;
    text-align: center;
  }

  .about-topic .text {
    width: 100%;
    padding-right: 0;
  }

  .about-topic .image {
    width: 100%;
    margin-top: 20px;
  }

  .about-topic .image img {
    width: 80%;
    margin: auto;
  }
}
